@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Scroll Section */
html {
    scroll-behavior: smooth;
}

/* Header NavBar Section */
header{
    width: 100%;
    height: auto;
    transition: 0.5s;
    background: #111;
    padding: 10px;
}

.navbar-brand img{
    width: 100px;
}

.nav-icon{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background: transparent;
}

.nav-icon i{
    color: #fff;
    font-size: 18px;
    margin: 10px;
}

.nav-icon i:hover{
    color: grey;
}

.search-bar{
    display: flex;
    position: relative;
}

.search-bar i{
    position: absolute;
    top: 11px;
    left: 10px;
    color: #111;
}

.search-box{
    border: none;
    border-radius: 5px;
    padding: 7px 35px;
}

.search-box:focus{
    box-shadow: 0px 0px 8px 0px #fff;
}

.search-box:hover{
    box-shadow: 0px 0px 8px 0px #fff;
}

/* Home Page Section */
.home-page{
    width: 100%;
}

.carousel{
    margin: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #111;
    min-height: 650px;
    background: #bdc3c7;
}

.banner-1,
.banner-2,
.banner-3{
    margin: 16%;
}

.text-header{
    font-size: 40px;
    font-weight: 900;
}