@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Scroll Section */
html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.5vw;
}

/* Main Container */

/* Header NavBar Section */
header{
    position: fixed;
    width: 100%;
    transition: 0.5s;
    background-color: #D8D8D8;
}

.navbar-brand img{
    width: 100px;
}

.nav-link i{
    color: #111;
    font-size: 20px;
    margin: 5px;
}

.nav-link i:hover{
    color: dodgerblue;
}