@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Scroll Section */
html {
    scroll-behavior: smooth;
}

/* Main Container */

/* Header NavBar Section */
header{
    width: 100%;
    transition: 0.5s;
    background: #111;
}

.navbar-brand img{
    width: 100px;
}

/*.small-icon{
    border: none;
    background-color: transparent;
    margin: 15px;
    position: relative;
}

.small-icon span{
    position: absolute;
    background-color: red;
    top: -8px;
    left: 25px;
}

.small-icon i{
    color: #fff;
}

.small-icon i:hover{
    color: #D8D8D8;
}

.badge{
    background-color: dodgerblue;
    color: #fff;
}

.main-menu .nav-link{
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link:hover{
    color: #fff;
}


.home-page{
    width: 100%;
    height: auto;
    padding: 15px;
}

.carousel-control-prev-icon{
    color: #111;
}

.carousel{
    height: 500px;
    padding: 50px;
    border-radius: 5px;
    color: #111;
}*/

.nav-icon{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background: transparent;
}

.nav-icon i{
    color: #fff;
    font-size: 18px;
    margin: 10px;
}

.nav-icon i:hover{
    color: grey;
}

.search-bar{
    display: flex;
    position: relative;
}

.search-bar i{
    position: absolute;
    top: 11px;
    left: 10px;
    color: #111;
}

.search-box{
    border: none;
    border-radius: 5px;
    padding: 7px 35px;
}

.search-box:focus{
    box-shadow: 0px 0px 8px 0px #fff;
}

.search-box:hover{
    box-shadow: 0px 0px 8px 0px #fff;
}